.features {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
  flex-wrap: nowrap;
  gap: 24px;
}

.features-list-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-list-box {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.features .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  align-self: flex-start;
  color: #2e2f42;
}

.text-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
}

@media (min-width: 768px) and (max-width: 1157.98px) {
  .text-features {
    max-width: 356px;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}

@media only screen and (max-width: 1157.98px) {
  .icon-wrapper {
    display: none;
  }
}
