.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}
.logo-part {
  color: #4d5ae5;
}
.contact {
  font-style: normal;
  letter-spacing: inherit;
  margin-left: auto;
}
@media only screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}
.header-links {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 76px;
}
@media only screen and (max-width: 767.98px) {
  .nav-link {
    display: none;
  }
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms ease-in-out;
}
.contact ul {
  display: flex;
  gap: 40px;
}
.contact .link {
  display: block;
  padding: 24px 0;
}
@media (min-width: 768px) and (max-width: 1157.98px) {
  .contact ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .contact li {
    margin: 0;
  }
  .contact .link {
    padding: 0;
  }
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.link:active {
  color: #404bbf;
}
.header-links .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.link.current {
  color: #404bbf;
}
.burger-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
  flex-shrink: 0;
}
@media only screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }
}
